<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/myprofile/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
<div class="landingpage">
  <div class="navbar">
    <a class="navlogo">CALLISTO</a>
    <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <path d="M3 12h18M3 6h18M3 18h18"/>
        </svg>
      </button>
    <div class="navlinkwrap">
      <span class="navlink"><a href="https://callistox.herokuapp.com/home">Home</a></span>
       <span class="navlink selectedlink"><a href="https://callistox.herokuapp.com/myprofile">My Profile</a></span>
      <span class="navlink">Activity</span>
      <% if (user.admin) { %>
        <span class="navlink"><a href="https://callistox.herokuapp.com/admin/addevent">Add Event</a></span>
      <% } else{ %>  
        <span class="navlink">How It Works</span>
      <% } %>
    </div>
    <div class="buttonwrap">
      <a href="https://callistox.herokuapp.com/logout">
        <button class="createbtn selectedbtn">SIGN OUT</button>
      </a>
    </div>
  </div>
  <div class="discover">
    <div class="discover-title" id="discover-scroll">
      <p id="welcome"></p>
    </div>
    <div class="discover-title" id="discover-scroll">
      <p style="font-size: medium; color: rgba(255, 255, 255, 0.74);word-spacing: 2px;margin-top: 0%; margin-bottom: 20px;">Events You've Registered In</p>
    </div>
    <div class="discover-items">
      <% user.regEvent.forEach(function(event) { %>
        <div class=item>
          <a href="https://callistox.herokuapp.com/event/<%=event._id%>">
            <!-- <img class="item-img" src="https://source.unsplash.com/random/200x200/?img=1" border="0"> -->
            <img class="item-img" src="<%=event.photo%>" border="0">
          </a>
          <div class="item-title">
            <p><%= event.name %> </p>
            <p>By <%= event.artist.name %> </p>
          </div>
          <p class="item-date">on <%= event.date %>, <%= event.time %> </p>
        </div>
      <% }); %>
    </div>
  <div class="discover">
    <div class="discover-title" id="discover-scroll">
      <p id="welcome"></p>
    </div>
    <div class="discover-title" id="discover-scroll">
      <p style="font-size: medium; color: rgba(255, 255, 255, 0.795);word-spacing: 2px;margin-top: 0%; margin-bottom: 20px;">Events Recomended For You</p>
    </div>
    <div class="discover-items">
      <% events.slice(-4).forEach(function(event) { %>
        <div class=item>
          <a href="https://callistox.herokuapp.com/event/<%=event._id%>">
            <!-- <img class="item-img" src="https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"> -->
            <img class="item-img" src="<%=event.photo%>" border="0">
          </a>
          <div class="item-title">
            <p>
              <%= event.name %>
            </p>
            <p>By <%= event.artist.name %>
            </p>
          </div>
          <p class="item-date">on <%= event.date %>, <%= event.time %>
          </p>
        </div>
        <% }); %>
    </div>
  </div>
  <%- include('../partials/footer'); %>
  <div class="footer2">
    <div></div>
    <p>Copyright 2021 Callisto</p>
  </div>
</div>
<script src="script.js"></script>
</body>
</html>