<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/Aevent/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="landingpage">
    <div class="navbar">
      <a class="navlogo">CALLISTO</a>
      <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
      </button>
      <div class="navlinkwrap">
        <span class="navlink"><a href="http://localhost:3000/home">Home</a></span>
        <span class="navlink selectedlink"><a href="http://localhost:3000/myprofile">My Profile</a></span>
        <span class="navlink">Activity</span>
        <span class="navlink">How It Works</span>
      </div>
      <div class="buttonwrap">
        <a href="http://localhost:3000/logout">
          <button class="createbtn selectedbtn">SIGN OUT</button>
        </a>
      </div>
    </div>

    <div class="poll" id="poll-box">
      <form action="/poll" method="post">
      <h3>Select an option below that you like best or something...</h3>
      <ul>
          <div style="display: none ;"> <%= pollopt %> </div>
          <li><input name="poll" type="radio" value="1" />Option 1</li>
          <li><input name="poll" type="radio" value="2" />Option 2</li>
          <li><input name="poll" type="radio" value="3" />Option 3</li>
          <li><input name="poll" type="radio" value="4" />Option 4</li>
        </ul>
        <input class="btn" type="submit" value="Submit" />
      </form>
      <input class="btn" type="submit" value="Back" id="back" />
    </div>

    <div id="article_container">
      <img class="article_container_img" src="https://source.unsplash.com/random/200x200/?img=1" alt="">
      <!-- <img class="article_container_img" src="<%= event.photo %> " alt=""> -->
      <div class="article_container_content">
        <div class="the">
          <div class="line"></div>
          <h4>the</h4>
          <div class="line"></div>
        </div>
        <h1>
          <%= event.name %>
        </h1>
        <div class="divider"></div>
        <p>
          <%= event.discription %> Nam fermentum orci felis, non mattis odio consequat sit amet. Proin fermentum mattis urna a
            posuere. Donec sed lacus ut ante consectet iaculis. Suspendisse ligula tortor, auctor eu magna sed, pretium
            ornare mi. Praesent ultrices vitae est ac hendrerit. Duis quis mattis dolor. Cras consectetur velit eros,
            non dictum purus pellentesque a.
        </p>
        <br>
        <p>
          By:- <%= event.artist.name %>
        </p>
        <p>
          On:- <%= event.date %>, <%= event.time %>
        </p>
        <div class="container">
          <!-- <div class="btn" id="register">
            <form action="/event/register" method="post">
              <input class="input" type="submit" name="Register" value="Register" class="button" />
            </form>
          </div> -->
          <div class="btn" id="editevent">
            <form action="/admin/editevent" method="post">
              <input class="input" type="submit" name="EditEvent" value="Edit Event" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <div class="btn" id="userdata">
            <form action="" method="post">
              <input class="input" type="submit" name="Register" value="User Data" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <div class="btn" id="deleteevent">
            <form action="/admin/eventdelete" method="post">
              <input class="input" type="submit" name="DeleteEvent" value="Delete Event" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <div class="btn" id="poll">
            <!-- <form > -->
              <input class="input" type="submit" name="Register" value="Poll" class="button" style="color: whitesmoke;"/>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>

    <div class="footer2">
      <div>
      </div>
      <p>Copyright 2021 Gaslur</p>
    </div>
  </div>
  <script src="/static/Aevent/script.js"></script>
</body>

</html>