<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/Aevent/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <script>
    const PollData = "<%= pollopt.polltitle %> "
    const option1 = "<%= pollopt.poll1 %>";
    const option2 = "<%= pollopt.poll2 %>";
    const option3 = "<%= pollopt.poll3 %>";
    const option4 = "<%= pollopt.poll4 %>";
    const pc1 = parseInt("<%= pollcount.poll1 %>");
    const pc2 = parseInt("<%= pollcount.poll2 %>");
    const pc3 = parseInt("<%= pollcount.poll3 %>");
    const pc4 = parseInt("<%= pollcount.poll4 %>");
    console.log(pc1,pc2,pc3,pc4);
  </script>
</head>

<body>
  <div class="landingpage">
    <div class="navbar">
      <a class="navlogo">CALLISTO</a>
      <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
      </button>
      <div class="navlinkwrap">
        <span class="navlink"><a href="https://callistox.herokuapp.com/home">Home</a></span>
        <span class="navlink selectedlink"><a href="https://callistox.herokuapp.com/myprofile">My Profile</a></span>
        <span class="navlink">Activity</span>
        <span class="navlink"><a href="https://callistox.herokuapp.com/admin/addevent">Add Event</a></span>

      </div>
      <div class="buttonwrap">
        <a href="https://callistox.herokuapp.com/logout">
          <button class="createbtn selectedbtn">SIGN OUT</button>
        </a>
      </div>
    </div>

    <div class="poll" id="poll-box">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>

      <div id="container" style="width: 100%; height: 400px"></div>

      <input class="btn" type="submit" value="Back" id="back" />
    </div>

    <div id="article_container">
      <!-- <img class="article_container_img" src="https://source.unsplash.com/HW5013eyvlU" alt=""> -->
      <img class="article_container_img" src="<%= event.photo %> " alt="">
      <div class="article_container_content">
        <div class="the">
          <div class="line"></div>
          <h4>the</h4>
          <div class="line"></div>
        </div>
        <h1>
          <%= event.name %>
        </h1>
        <div class="divider"></div>
        <p>
          <%= event.discription %>
        </p>
        <br>
        <p>
          By:- <%= event.artist.name %>
        </p>
        <p>
          On:- <%= event.date %>, <%= event.time %>
        </p>
        <div class="container">
          <div class="btn" id="editevent" onclick="clicked('ee')">
            <form action="/admin/editevent/<%= event._id %> " method="get">
              <input class="input" type="submit" name="EditEvent" id="ee" value="Edit Event" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <div class="btn" id="userdata" onclick="clicked('ud')">
            <form action="/userlist/<%= event._id %>" method="get">
              <input class="input" type="submit" name="Register" id="ud" value="User Data" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <div class="btn" id="deleteevent" onclick="clicked('de')">
            <form action="/admin/eventdelete/<%= event._id %>" method="post">
              <input class="input" type="submit" name="DeleteEvent" id="de" value="Delete Event" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <% if (pollopt.polltitle) { %>
            <div class="btn" id="poll">
              <!-- <form > -->
                <input class="input" type="submit" name="Register" value="Poll Data" class="button" style="color: whitesmoke;"/>
              <!-- </form> -->
            </div>
          <% } %>
          
        </div>
      </div>
    </div>

    <div class="footer2">
      <div>
      </div>
      <p>Copyright 2021 Callisto</p>
    </div>
  </div>
  <script src="/static/Aevent/script.js"></script>
</body>

</html>