<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/home/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="landingpage">
    <div class="navbar">
      <a class="navlogo">CALLISTO</a>
      <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
      </button>
      <div class="navlinkwrap">
        <span class="navlink selectedlink"><a href="https://callistox.herokuapp.com/home">Home</a></span>
        <span class="navlink"><a href="https://callistox.herokuapp.com/myprofile">My Profile</a></span>
        <span class="navlink">Activity</span>
        <% if (user.admin) { %>
          <span class="navlink"><a href="https://callistox.herokuapp.com/admin/addevent">Add Event</a></span>
          <% } else{ %>
            <span class="navlink">How It Works</span>
            <% } %>
      </div>
      <div class="buttonwrap">
        <% if (user) { %>
          <a href="https://callistox.herokuapp.com/logout"><button class="createbtn selectedbtn">SIGN OUT</button></a>
          <% } else{ %>
            <a href="https://callistox.herokuapp.com/login"><button class="createbtn selectedbtn">SIGN IN</button></a>
            <% } %>
      </div>
    </div>
    <div class="box">
      <div class="infobox">
        <p class="infobox-boldtext">
          A Galaxy Of Events,<br>
          Do What You <br> Can't <br>
        </p>
        <p class="infobox-slimtext">
          Memorable events don't just happen. They happen to be our business.
        </p>
        <div class="infobox-btnwrapper">
          <button class="infobox-explorebtn selected" onclick="scrollToDiscover()">Explore</button>
          <% if (user.admin) { %>
            <a href="https://callistox.herokuapp.com/admin/addevent"><button class="infobox-createbtn">Create</button></a>
            <% } else{ %>
            <a href="https://callistox.herokuapp.com/myprofile"><button class="infobox-createbtn"> My Profile</button></a>
            <% } %>
        </div>
      </div>
      <div class="display">
        <a href="https://callistox.herokuapp.com/event/6325d9e8ecd3bda4b201d4e6">
        <img class="display-nft item-img"
          src="https://media.istockphoto.com/photos/party-people-enjoy-concert-at-festival-summer-music-festival-picture-id1324561072?b=1&k=20&m=1324561072&s=170667a&w=0&h=LwWrgpVzxoznttv_6qXMVtZHer1QSLNbfHmORZCFhN0="
          alt="unsplash-OG44d93i-NJk" border="0">
        </a>
        <div class="infowrapper">
          <div class="info">
            <img class="info-img"
              src="https://images.news18.com/ibnlive/uploads/2022/09/justin-bieber-1-16625304653x2.jpg?impolicy=website&width=510&height=356"
              alt="unsplash-OG44d93i-NJk" border="0">
            <div>
              <p>Concert</p>
              <p>Justin Bieber</p>
            </div>
          </div>
          <div class="info2">
            <p>WE ARE HERE</p>
            <p>In Delhi</p>
          </div>
        </div>
      </div>
    </div>
    <div class="auction">
      <div class="title">
        <p class="titlebold">Hot Event</p>
        <p class="titleslim" onclick="scrollToDiscover()">View all</p>
      </div>
      <div class="nft">
        <% events.slice(-5).forEach(function(event) { %>
          <div class=item>
            <a href="https://callistox.herokuapp.com/event/<%=event._id%>">
              <!-- <img class="item-img" src="https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"> -->
              <img class="item-img" src="<%=event.photo%>" border="0">
            </a>
            <div class="item-title">
              <p>
                <%= event.name %>
              </p>
              <p>By <%= event.artist.name %>
              </p>
            </div>
            <p class="item-date">on <%= event.date %>, <%= event.time %>
            </p>
          </div>
          <% }); %>
      </div>
    </div>
    <div class="discover">
      <div class="discover-title" id="discover-scroll">
        <p>Discover</p>
      </div>
      <div class="discover-items">
        <% events.slice(-5).forEach(function(event) { %>
          <div class=item>
            <a href="https://callistox.herokuapp.com/event/<%=event._id%>">
              <!-- <img class="item-img" src="https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"> -->
              <img class="item-img" src="<%=event.photo%>" border="0">
            </a>
            <div class="item-title">
              <p>
                <%= event.name %>
              </p>
              <p>By <%= event.artist.name %>
              </p>
            </div>
            <p class="item-date">on <%= event.date %>, <%= event.time %>
            </p>
          </div>
          <% }); %>
      </div>
    </div>
    <%- include('../partials/footer'); %>
      <div class="footer2">
        <div></div>
        <p>Copyright 2021 Callisto</p>
      </div>
  </div>
  <script src="static/home/script.js"></script>
</body>

</html>