<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/Uevent/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="landingpage">
    <div class="navbar">
      <a class="navlogo">CALLISTO</a>
      <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
      </button>
      <div class="navlinkwrap">
        <span class="navlink"><a href="/home">Home</a></span>
        <span class="navlink selectedlink"><a href="/myprofile">My Profile</a></span>
        <span class="navlink">Activity</span>
        <span class="navlink">How It Works</span>
      </div>
      <div class="buttonwrap">
        <a href="/logout">
          <button class="createbtn selectedbtn">SIGN OUT</button>
        </a>
      </div>
    </div>

    <div class="poll" id="poll-box">
      <form action="/poll/<%= event._id %>" method="post">
      <h3> <%= pollopt.polltitle %> </h3>
      <ul>
          <div id="data" style="display: none ;"> <%= pollans %> </div>
          <li><input name="poll" type="radio" value="1" id="1"/><%= pollopt.poll1 %> </li>
          <li><input name="poll" type="radio" value="2" id="2"/><%= pollopt.poll2 %> </li>
          <li><input name="poll" type="radio" value="3" id="3"/><%= pollopt.poll3 %> </li>
          <li><input name="poll" type="radio" value="4" id="4"/><%= pollopt.poll4 %> </li>
        </ul>
        <% if (!pollans) { %>
          <input class="btn" type="submit" value="Submit" />
        <% } %>
      </form>
      <input class="btn" type="submit" value="Back" id="back" />
    </div>

    <div id="article_container">
      <!-- <img class="article_container_img" src="https://source.unsplash.com/HW5013eyvlU" alt=""> -->
      <img class="article_container_img" src="<%= event.photo %> " alt="">
      <div class="article_container_content">
        <div class="the">
          <div class="line"></div>
          <h4>the</h4>
          <div class="line"></div>
        </div>
        <h1>
          <%= event.name %>
        </h1>
        <div class="divider"></div>
        <p>
          <%= event.discription %>
        </p>
        <br>
        <p>
          By:- <%= event.artist.name %>
        </p>
        <p>
          On:- <%= event.date %>, <%= event.time %>
        </p>
        <div class="container">
          <div class="btn" id="register">
            <form action="/event/register/<%= event._id %>" method="post">
              <input class="input" type="submit" name="Register" value="Register" class="button" style="color: whitesmoke;" />
            </form>
          </div>
          <% if (pollopt.polltitle) { %>
            <div class="btn" id="poll">
              <!-- <form > -->
                <input class="input" type="submit" name="Register" value="Poll" class="button" style="color: whitesmoke;"/>
              <!-- </form> -->
            </div>
          <% } %>
          
        </div>
      </div>
    </div>

    <div class="footer2">
      <div>
      </div>
      <p>Copyright 2021 Callisto</p>
    </div>
  </div>
  <script src="/static/Uevent/script.js"></script>
</body>

</html>
